name: Continuous Integration

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
      actions: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and Test
        run: mvn -f pom-ci.xml clean verify site
        continue-on-error: true

      - name: Publish Test Summary
        uses: test-summary/action@v2
        if: always()
        with:
          paths: "**/target/surefire-reports/TEST-*.xml"

      - name: Publish JaCoCo Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        if: always()
        with:
          filename: target/site/jacoco/jacoco.xml
          badge: true
          fail_below_min: true # This will fail the workflow if < 90%
          format: markdown
          hide_branch_rate: false
          hide_complexity: false
          indicators: true
          output: both
          thresholds: '90 90'

      - name: Add Coverage to Summary
        if: always()
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

      - name: Upload Full Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: full-reports
          path: |
            target/site/surefire-report.html
            target/site/jacoco/